/*------------------------------------------*\
    ICONS
\*------------------------------------------*/
@include font-face('icomoon', 'icomoon');

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rss-square:before {
  content: "\f143";
}