/*------------------------------------*\
    $FORMS
\*------------------------------------*/

form {
  margin: 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

button,
input,
textarea{
  -webkit-appearance: none;
  @include border-radius(0);
}

button[disabled],
input[disabled] {
  cursor: default;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
}

/*------------------------------------*\
    $SPECIFIC FORMS
\*------------------------------------*/

.basic-form {
  input {
    border: 1px solid #ccc;
    @include border-radius(5px);
    padding: .5em 1.8em;
    width: 50%;
    background: #fff url(../images/search.gif) no-repeat 2% 50%;
    font-size: 1.2rem;
    vertical-align: middle;
    outline: none;

    @include media-query(palm) {
      display: block;
      width: 100%;
      margin-bottom: .5em;
    }
  }

}


