
/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/

h1, .alpha {
 @include font-size($font_size_alpha);
} 
h2, .beta {
 @include font-size($font_size_beta);
}
h3, .gamma {
  @include font-size($font_size_gamma);
}
// h4, .delta {
//   @include font-size($font_size_delta);
// }
// h5, .epsilon {
//   @include font-size($font_size_epsilon); 
// }
// h6, .zeta {
//   @include font-size($font_size_zeta);
// }

// .giga {
//   @include font-size($font_size_giga);
// }
// .mega {
//   @include font-size($font_size_mega);
// }
// .kilo {
//   @include font-size($font_size_kilo);
// }

.main-title {
  margin: 1em 0;
  a {
    text-transform: uppercase;
    color: $primary;
    letter-spacing: 5px;
    font-size: 1.4rem;
  }
  span.icon {
    color:#FB9A36;
    @include font-size(14);
    padding-left: .5em;
  }
}
.subtitle {
  color:$textLight;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: normal;



  @include media-query(palm) {
    display: block;
    margin-top: 1em;
  }
}

.big-title {
  @include font-size(36);
}

